@await Html.PartialAsync("Partials/_NavbarEnter")
<div class="container">
    <div class="row gx-5">
        <div class="col-auto">
            <h4>Manage Users</h4>
        </div>
        <div class="col"></div>
        <div class="col-auto">
            <button class="btn btn-primary border border-dark">Add new</button>
        </div>
    </div>
    <div class="row">
        <div class="col my-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col"><em></em>mail</th>
                        <th scope="col">created_at</th>
                        <th scope="col">user_Level</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>